/*
Theme Name: WordPress Child Theme
Theme URI: https://github.com/
Description: WordPress Child Theme - WP Child Theme
Author: WP Raivis
Author URI: https://digitalpulse.click
Template: wp-theme
Requires at least: 6.8.1
Tested up to: 6.8.1
Requires PHP: 8.2
Version: 1.0.0
*/

/* Add your custom CSS below */